@model IEnumerable<Class4_Journals.Models.Journal>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.JournalCotent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OwningUser)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.JournalCotent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OwningUser.UserNumber)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.JournalNumber">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.JournalNumber">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.JournalNumber">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
